.navigationBar {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    /*background: auto;*/
    /*background-color: rgba(51, 51, 51, 0.7);*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); /* Apply blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
}

/*@keyframes App-logo-spin {*/
/*    from {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*    to {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/
