.mainBody {
    width: 100%;
    height: auto;
    margin: 0;
    top: 0;
    padding: 0;
    overflow: hidden;
    scroll-behaviour: smooth;
    overscroll-behavior: none;
}

.navigationBar {
    top: 0;
    left: 0;
    position: fixed;
    /*position: sticky;*/
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); /* Apply blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
}

/*@keyframes App-logo-spin {*/
/*    from {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*    to {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/
