body {
    top: 0;
    left: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.mainBody {
    width: 100%;
    height: auto;
    margin: 0;
    top: 0;
    padding: 0;
    overflow: hidden;
    scroll-behaviour: smooth;
    overscroll-behavior: none;
}

.navigationBar {
    top: 0;
    left: 0;
    position: fixed;
    /*position: sticky;*/
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); /* Apply blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
}
